/*
 * Title: To Do List CSS file
 * Description: This file has all the styles associated with the To Do App project
 * Author: Iqram khan
 *
 */

*{
    box-sizing: border-box;
  } 
  
  .container {
    background: #407379;
    padding: 25px;
    max-width: 760px;
    margin: 25px auto;
    overflow: hidden;
    border-radius: 10px;
    /* border: 5px solid #4a8e91; */
    border: 5px solid gainsboro; 
    font-family: sans-serif;
  }
  
  h1,
  h2 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }
  
  h2 {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #b1c9bb;
    padding: 0 0 10px;
    color: #57635c;
  }
  
  .logo {
    width: 100%;
    text-align: center;
  }
  
  .logo img {
    width: 300px;
  }

  .header {
      color: whitesmoke;
  }
  
  .new-task-container {
    text-align: center;
  }
  
  .box {
    padding: 10px 15px;
    border: 2px solid #b1c9bb;
    border-radius: 5px;
    background: #fff;
    margin: 15px 0;
  }
  
  .todo-list {
    float: left;
    width: 46%;
  }
  
  .complete-list {
    float: right;
    width: 46%;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px dotted #ccc;
  }
  
  .update {
    float: right;
    background-color: blue;
    color: white;
    border: 0px;
    padding: 3px 5px;
  }
  
  .delete {
    float: right;
    background-color: red;
    color: white;
    border: 0px;
    padding: 3px 5px;
  }